*.meta

UniSideGame/.vscode
UniSideGame/Assets/*
UniSideGame/Library
UniSideGame/Logs
UniSideGame/obj
UniSideGame/Packages
UniSideGame/ProjectSettings
UniSideGame/Recordings
UniSideGame/Temp
UniSideGame/UserSettings
UniSideGame/*.*

!UniSideGame/Assets/Scripts